{% extends "index.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-sm-6">
          <div class="card shadow-lg p-5 m-2"> 
            <h2 class="text-center mt-4">Login</h2>
            <form method="POST" class="justify-content-center">
                {{ form.hidden_tag() }}
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                
                <button type="submit" class="btn btn-primary me-4">login</button>
            </form>
          </div>
            
        </div>
    </div>
</div>
{% endblock %}
